.buzzbuzz{
	width: 100%;
	position: absolute;
	top: 0;
}

.lightning{
	position: absolute;
	background: #fff;
	width: 4px;
	border-radius: 2px;

	animation-name: lightning;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

@keyframes lightning{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		display: none;
	}
}